src/transform/cassius/cassius-import/runtime/backmatter3.ent

<!-- ============================================================= -->
<!--  MODULE:    Back Matter Elements                              -->
<!--  VERSION:   3.0                                               -->
<!--  DATE:      Feb 2008                                          -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD Archiving and Interchange DTD Suite Back Matter Elements v3.0 20080202//EN"
     Delivered as file "backmatter3.ent"                           -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Names elements that are not part of the main      -->
<!--             textual flow of a work, but are considered to be  -->
<!--             ancillary material.                               -->
<!--                                                               -->
<!-- CONTAINS:   1) Parameter Entities for attribute lists         -->
<!--             2) List of the back matter elements in            -->
<!--                alphabetical order                             -->
<!--                 - Acknowledgments <ack> (defined in           -->
<!--                     %common.ent;)                             -->
<!--                 - Appendix Matter <app-group>                 -->
<!--                 - Footnote Group <fn-group>                   -->
<!--                 - Glossary <glossary>                         -->
<!--                 - Biography <bio> (defined in %common.ent;)   -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             Digital archives and publishers who wish to       -->
<!--             create a custom XML DTD for original markup of    -->
<!--             journal literature, books, and related material,  -->
<!--             or for archiving and transferring such material   -->
<!--             between archives.                                 -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the Archiving and     -->
<!--                Interchange DTD Suite and intend to stay       -->
<!--                compatible with the suite, then please include -->
<!--                the following statement as a comment in all of -->
<!--                your DTD modules:                              -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the Archiving and Interchange DTD Suite."  -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the Archiving and Interchange DTD    --> 
<!--                    Suite."                                    -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2002                                     -->
<!--                                                               -->
<!-- CREATED BY: Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             Bruce Rosenblum (Inera Inc.)                      -->
<!--                                                               -->
<!--             NLM thanks the Harvard University Libraries, both -->
<!--             for proposing that a draft archiving NLM DTD for  --> 
<!--             life sciences journals be extended to accommodate -->
<!--             journals in all disciplines and for sponsoring    -->
<!--             Bruce Rosenblum's collaboration with other DTD    -->
<!--             authors in completing Version 1.0. The Andrew W.  --> 
<!--             Mellon Foundation provided support for these      --> 
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             the DTD suite should be sent in email to:         -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
     
     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite 
     web site at http://dtd.nlm.nih.gov. 

     Details on version 3.0 are available at 
           http://dtd.nlm.nih.gov/3.0.
  
  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    BACKMATTER ELEMENTS                        -->
<!-- ============================================================= -->


<!--ELEM   bio          Defined in %common.ent;                    -->
<!--ELEM   ref-list     Defined in %references.ent;                -->
<!--ELEM   sec          Defined in %section.ent;                   -->
<!--ELEM   ack          Defined in %common.ent;                    -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->

                                                                
<!--                    APPENDIX ATTRIBUTES                        -->
<!--                    Attributes for the Appendix <app> element  -->
<!ENTITY % app-atts
             "id        ID                                #IMPLIED
              content-type  
                        CDATA                             #IMPLIED
              specific-use
                        CDATA                             #IMPLIED"  >

                                                                
<!--                    APPENDIX GROUP ATTRIBUTES                  -->
<!--                    Attributes for the Appendix Group <app-group> 
                        element                                    -->
<!ENTITY % app-group-atts
             "id        ID                                #IMPLIED
              content-type  
                        CDATA                             #IMPLIED 
              specific-use
                        CDATA                             #IMPLIED"  >

                                                                
<!--                    FOOTNOTE GROUP ATTRIBUTES                  -->
<!--                    Attributes for the Footnote Group <fn-group> 
                        element                                    -->
<!ENTITY % fn-group-atts
             "id        ID                                #IMPLIED 
              content-type
                        CDATA                             #IMPLIED
              specific-use
                        CDATA                             #IMPLIED"  >

                                                                
<!--                    GLOSSARY ATTRIBUTES                        -->
<!--                    Attributes for the Glossary <glossary> 
                        element                                    -->
<!ENTITY % glossary-atts
             "id        ID                                #IMPLIED 
              content-type
                        CDATA                             #IMPLIED
              specific-use
                        CDATA                             #IMPLIED"  >


<!-- ============================================================= -->
<!--                    APPENDIX ELEMENTS                          -->
<!-- ============================================================= -->


<!--                    APPENDIX GROUP MODEL                       -->
<!--                    Content model for the <app-group> element  -->
<!ENTITY % app-group-model   
                        "(label?, title?, (%para-level;)*, 
                          (%app.class; | %ref-list.class;)*)"        > 


<!--                    APPENDIX GROUP                             -->
<!--                    A container element to hold one or more
                        Appendices.  
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=app-group
                        http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=app-group
                        http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=app-group
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=app-group
                                                                   -->
<!ELEMENT  app-group    %app-group-model;                            >
<!ATTLIST  app-group
             %app-group-atts;                                        >


<!--                    APPENDIX MODEL                             -->
<!--                    Content model for the <app> element.       -->
<!ENTITY % app-model    "(%sec-model;, permissions?)"                > 


<!--                    APPENDIX                                   -->
<!--                    Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=app
                        http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=app
                        http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=app
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=app
                                                                   -->
<!ELEMENT  app          %app-model;                                  >
<!ATTLIST  app
             %app-atts;                                              >


<!-- ============================================================= -->
<!--                    FOOTNOTE GROUPING ELEMENTS                 -->
<!-- ============================================================= -->


<!--                    FOOTNOTE GROUP MODEL                       -->
<!--                    Content model for the <fn-group> element   -->
<!ENTITY % fn-group-model
                        "(label?, title?, (%fn-link.class;)+ )"      >


<!--                    FOOTNOTE GROUP                             -->
<!--                    Footnotes in a journal article may be
                        scattered throughout the text, at the places
                        they occur, or collected in groups at the
                        end of structural units.  This element is a
                        wrapper tag for such groups of footnotes.
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=fn-group
                        http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=fn-group
                        http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=fn-group
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=fn-group
                                                                   -->
<!ELEMENT  fn-group     %fn-group-model;                             >
<!ATTLIST  fn-group
             %fn-group-atts;                                         >


<!-- ============================================================= -->
<!--                    GLOSSARY                                   -->
<!-- ============================================================= -->


<!--                    GLOSSARY MODEL                             -->
<!--                    Content model for the <glossary> element   -->
<!ENTITY % glossary-model
                        "(label?, title?, (%para-level;)*, glossary*)"
                                                                     >
                        
                        
<!--                    GLOSSARY ELEMENTS                          -->
<!--                    Glossary or list of definitions.  Typically
                        the content will be one or more <def-list>s.
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=glossary
                        http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=glossary
                        http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=glossary
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=glossary
                                                                   -->
<!ELEMENT  glossary     %glossary-model;                             >
<!ATTLIST  glossary
             %glossary-atts;                                         >


<!-- ================== End Back Matter Module =================== -->
