src/transform/cassius/cassius-import/runtime/math3.ent

<!-- ============================================================= -->
<!--  MODULE:    Math Class Elements                               -->
<!--  VERSION:   3.0                                               -->
<!--  DATE:      Feb 2008                                          -->
<!--                                                               -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!--                    PUBLIC DOCUMENT TYPE DEFINITION            -->
<!--                        TYPICAL INVOCATION                     -->
<!--
"-//NLM//DTD Archiving and Interchange DTD Suite Math Class Elements v3.0 20080202//EN"
     Delivered as file "math3.ent"                                 -->
<!-- ============================================================= -->

<!-- ============================================================= -->
<!-- SYSTEM:     Archiving and Interchange DTD Suite               -->
<!--                                                               -->
<!-- PURPOSE:    Names all elements in the math classes            -->
<!--                                                               -->
<!-- CONTAINS:   1) Default definition of the math classes         -->
<!--             2) Inline formula <inline-formula>                -->
<!--             3) Display Formula <disp-formula>                 -->
<!--             4) TeX Math Equation <tex-math>                   -->
<!--                                                               -->
<!-- CREATED FOR:                                                  -->
<!--             Digital archives and publishers who wish to       -->
<!--             create a custom XML DTD for original markup of    -->
<!--             journal literature, books, and related material,  -->
<!--             or for archiving and transferring such material   -->
<!--             between archives.                                 -->
<!--                                                               -->
<!--             This DTD is in the public domain. An organization -->
<!--             that wishes to create its own DTD from the suite  -->
<!--             may do so without permission from NLM.            -->
<!--                                                               -->
<!--             The suite has been set up to be extended using a  -->
<!--             new DTD file and a new DTD-specific customization -->
<!--             module to redefine the many Parameter Entities.   -->
<!--             Do not modify the suite directly or redistribute  -->
<!--             modified versions of the suite.                   -->
<!--                                                               -->
<!--             In the interest of maintaining consistency and    -->
<!--             clarity for potential users, NLM requests:        -->
<!--                                                               -->
<!--             1. If you create a DTD from the Archiving and     -->
<!--                Interchange DTD Suite and intend to stay       -->
<!--                compatible with the suite, then please include -->
<!--                the following statement as a comment in all of -->
<!--                your DTD modules:                              -->
<!--                   "Created from, and fully compatible with,   -->
<!--                    the Archiving and Interchange DTD Suite."  -->
<!--                                                               -->
<!--             2. If you alter one or more modules of the suite, -->
<!--                then please rename your version and all its    -->
<!--                modules to avoid any confusion with the        -->
<!--                original suite. Also, please include the       -->
<!--                following statement as a comment in all your   -->
<!--                DTD modules:                                   -->
<!--                   "Based in part on, but not fully compatible -->
<!--                    with, the Archiving and Interchange DTD    --> 
<!--                    Suite."                                    -->
<!--                                                               -->
<!-- ORIGINAL CREATION DATE:                                       -->
<!--             December 2002                                     -->
<!--                                                               -->
<!-- CREATED BY: Jeff Beck       (NCBI)                            -->
<!--             Deborah Lapeyre (Mulberry Technologies, Inc.)     -->
<!--             Bruce Rosenblum (Inera Inc.)                      -->
<!--                                                               -->
<!--             NLM thanks the Harvard University Libraries, both -->
<!--             for proposing that a draft archiving NLM DTD for  --> 
<!--             life sciences journals be extended to accommodate -->
<!--             journals in all disciplines and for sponsoring    -->
<!--             Bruce Rosenblum's collaboration with other DTD    -->
<!--             authors in completing Version 1.0. The Andrew W.  --> 
<!--             Mellon Foundation provided support for these      --> 
<!--             important contributions.                          -->
<!--                                                               -->
<!--             Suggestions for refinements and enhancements to   -->
<!--             the DTD suite should be sent in email to:         -->
<!--                 archive-dtd@ncbi.nlm.nih.gov                  -->
<!--                                                               -->
<!-- ============================================================= -->


<!-- ============================================================= -->
<!--                    DTD VERSION/CHANGE HISTORY                 -->
<!-- ============================================================= -->
<!--
     =============================================================

Version  Reason/Occasion                   (who) vx.x (yyyy-mm-dd)

     =============================================================
     Version 3.0                       (DAL/BTU) v3.0 (2007-10-31)
     
     Version 3.0 is the first non-backward-compatible release.
     In addition to the usual incremental changes, some
     elements and attributes have been renamed and/or remodeled
     to better meet user needs and to increase tag set consistency.
     All module change histories are available through the Tag Suite 
     web site at http://dtd.nlm.nih.gov. 

     Details on version 3.0 are available at 
           http://dtd.nlm.nih.gov/3.0.
  
  1. Updated public identifier to "v3.0 20080202//EN"              -->


<!-- ============================================================= -->
<!--                    PARAMETER ENTITIES FOR ATTRIBUTE LISTS     -->
<!-- ============================================================= -->
                                                                
                                                                 
<!--                    DISPLAY FORMULA ATTRIBUTES                 -->
<!--                    Attributes for the <disp-formula> element  -->
<!ENTITY % disp-formula-atts
            "id         ID                                 #IMPLIED 
             content-type
                        CDATA                              #IMPLIED
             specific-use
                        CDATA                              #IMPLIED" >

                                                                
<!--                    DISPLAY FORMULA GROUP ATTRIBUTES           -->
<!--                    Attributes for the <disp-formula-group>
                        element                                    -->
<!ENTITY % disp-formula-group-atts
             "id        ID                                #IMPLIED
              content-type
                        CDATA                             #IMPLIED 
              specific-use
                        CDATA                             #IMPLIED"  >


<!--                    INLINE FORMULA ATTRIBUTES                  -->
<!--                    Attribute list for the <inline-formula>
                        element                                    -->
<!ENTITY % inline-formula-atts
            "id         ID                                 #IMPLIED  
             content-type
                        CDATA                              #IMPLIED
             xml:lang   NMTOKEN                            #IMPLIED" >
                                                                
                                                                 
<!--                    TEX MATH ATTRIBUTES                        -->
<!--                    Attributes for the <disp-formula> element  -->
<!ENTITY % tex-math-atts                                  
            "id         ID                                 #IMPLIED
             content-type
                        CDATA                              #IMPLIED
             notation   NOTATION (LaTeX | tex | TEX | TeX)
                                                           #IMPLIED
             version    CDATA                              #IMPLIED" >


<!-- ============================================================= -->
<!--                    MATH ELEMENTS (INLINE LEVEL)               -->
<!-- ============================================================= -->


<!--                    FORMULA, INLINE ELEMENTS                   -->
<!--                    Elements for use in the <inline-formula> 
                        element                                    -->
<!ENTITY % inline-formula-elements   
                        "| %emphasis.class; | %inline-display.class; |
                         %inline-math.class; |
                         %math.class; | 
                         %phrase-content.class; | %subsup.class;"    > 


<!--                    FORMULA, INLINE MODEL                      -->
<!--                    Content model for an <inline-formula>      -->
<!ENTITY % inline-formula-model   
                        "(#PCDATA %inline-formula-elements;)*"       > 


<!--                    FORMULA, INLINE                            -->
<!--                    Inline element for a mathematical
                        equation, expression, or formula 
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=inline-formula
                        http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=inline-formula
                        http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=inline-formula
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=inline-formula
                                                                   -->
<!ELEMENT  inline-formula            
                        %inline-formula-model;                       >
<!ATTLIST  inline-formula
             %inline-formula-atts;                                   >


<!-- ============================================================= -->
<!--                    MATH ELEMENTS (INLINE LEVEL)               -->
<!-- ============================================================= -->


<!--                    DISPLAY FORMULA ELEMENTS                   -->
<!--                    Elements for use in the <disp-formula> 
                        element                                    -->
<!ENTITY % disp-formula-elements  
                        "| %access.class; | %address-link.class; |
                         %break.class; | %emphasis.class; | 
                         %inline-display-noalt.class; |
                         %inline-math.class; | %label.class; |
                         %phrase-content.class; | 
                         %math.class; |  %simple-display.class; | 
                         %subsup.class;"                             > 


<!--                    FORMULA, DISPLAY MODEL                     -->
<!--                    Content model for an <disp-formula>        -->
<!ENTITY % disp-formula-model   
                        "(#PCDATA %disp-formula-elements;)*"         > 


<!--                    FORMULA, DISPLAY                           -->
<!--                    Block-level (callout) element for a 
                        mathematical equation, expression, or 
                        formula. 
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=disp-formula
                        http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=disp-formula
                        http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=disp-formula
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=disp-formula
                                                                   -->
<!ELEMENT  disp-formula %disp-formula-model;                         >
<!ATTLIST  disp-formula
             %disp-formula-atts;                                     >


<!--                    FORMULA, DISPLAY GROUP MODEL               -->
<!--                    Content model for an <disp-formula-group>  -->
<!ENTITY % disp-formula-group-model   
                        "(label?, (%caption.class;)?,
                          (%access.class; | %address-link.class;)*,  
                          (%block-math.class;)* )"                   >


<!--                    FORMULA, DISPLAY GROUP                     -->
<!--                    Used for a group of equations or other
                        mathematical expressions that are displayed
                        together. 
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=disp-formula-group
                        http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=disp-formula-group
                        http://dtd.nlm.nih.gov/articleauthoring/tag-library/3.0/index.html?elem=disp-formula-group
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=disp-formula-group
                                                                   -->
<!ELEMENT  disp-formula-group
                        %disp-formula-group-model;                   >
<!ATTLIST  disp-formula-group
             %disp-formula-group-atts;                               >


<!--                    TEX MATH EQUATION                          -->
<!--                    Used to hold encoded math, expressed in TeX
                        Details at: 
                        http://dtd.nlm.nih.gov/archiving/tag-library/3.0/index.html?elem=tex-math
                        http://dtd.nlm.nih.gov/publishing/tag-library/3.0/index.html?elem=tex-math
                        http://dtd.nlm.nih.gov/book/tag-library/3.0/index.html?elem=tex-math
                                                                   -->
<!ELEMENT  tex-math      (#PCDATA)                                   >
<!ATTLIST  tex-math                                  
             %tex-math-atts;                                         >


<!-- ================== End Math Class Elements Module =========== -->
